logs
*.log
*.pyc
__pycache__
.mypy_cache
.settings

/archives
/data
/venv
/depots
/expresults

/src/*/.*
/src/*/target

/techniques/.*

/techniques/Locus.jar
/techniques/AmaLgam.jar
/techniques/BugLocator.jar
/techniques/BLUiR.jar
/techniques/BRTracer.jar

/techniques/Settings.txt

/techniques/locus_properties
/techniques/blia_properties
