/_archives
/data
.mypy_cache
/venv
__pycache__
*.pyc
/Depots
/expresults
logs
*.log

/old/*/target

/techniques/releases/Locus.jar

/techniques/releases/locus_properties
/techniques/releases/blia_properties
